## Voron Design VORON2 300 Spider TMC2209 UART config

## 	Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/"
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_260042000B50563046363120-if00

## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000			        #Max 4000
max_z_velocity: 15			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#  Stepper & TMC Settings
#####################################################################
[include stepper.cfg]

#####################################################################
#  Extruder
#####################################################################
[include heater.cfg]

#####################################################################
#  Probe and Gantry Adjustment Routines
#####################################################################
[include probe_qgl.cfg]

#####################################################################
#  Fan Control & extra Thermistor
#####################################################################
[include fan.cfg]

#####################################################################
#  LEDs
#####################################################################
[include led.cfg]

#####################################################################
#  Displays
#####################################################################
[include displays.cfg]

#####################################################################
#  Macros & Stuff
#####################################################################
[include macros.cfg]
[include nozzle_scrub.cfg]

#####################################################################
#  Mainsail
#####################################################################
[include mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 44.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 32.6
