## Voron Design VORON2 300 Spider TMC2209 UART config

## 	Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/"
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_260042000B50563046363120-if00

## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20  # an example

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3100
max_accel_to_decel: 3100
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 44.4
shaper_type_y = mzv
shaper_freq_y = 32.6

[thermistor Custom NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################################################
#  Stepper & TMC Settings
#####################################################################
[include stepper.cfg]

#####################################################################
#  Extruder
#####################################################################
[include heater.cfg]

#####################################################################
#  Probe and Gantry Adjustment Routines
#####################################################################
[include probe_qgl.cfg]

#####################################################################
#  Fan Control & extra Thermistor
#####################################################################
[include fan.cfg]

#####################################################################
#  LEDs
#####################################################################
[include led.cfg]

#####################################################################
#  Displays
#####################################################################
[include displays.cfg]

#####################################################################
#  Macros & Stuff
#####################################################################
[include macros.cfg]
[include nozzle_scrub.cfg]

#####################################################################
#  Mainsail
#####################################################################
[include mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 44.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 32.6
